site_name: Work Stefanini CKAN MG

# Repository
repo_name: transparencia-mg/work-stefanini
repo_url: https://github.com/transparencia-mg/work-stefanini
edit_uri: edit/main/docs/

# Configuration
theme:
  name: material
  language: pt-BR
  custom_dir: overrides
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

markdown_extensions:
  - abbr
  - footnotes
  - attr_list
  - pymdownx.tasklist  # Lista de tarefas
  - pymdownx.emoji  # Emojis
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight
  - toc:
      permalink: ⚓︎
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.snippets:
      auto_append:
        - abbreviations.md

extra_css:
  - assets/style.css
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.css
extra_javascript:
  - assets/style.js
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js

extra: # Footer
  social:
    - icon: fontawesome/solid/diagram-project
      name: GitHub Project Board
      link: https://github.com/orgs/transparencia-mg/projects/2
    - icon: fontawesome/brands/youtube
      name: Playlist YouTube.
      link: https://www.youtube.com/playlist?list=PLCbgbVHsUygAIzR_jxHEUt0NRc-MNF7cy
    - icon: fontawesome/solid/flag
      name: Material for MkDocs Icons, Emojis.
      link: https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/#search
    - icon: fontawesome/solid/database
      name: Tip de dado.
      link: https://transparencia-mg.github.io/work-stefanini/
    - icon: fontawesome/brands/github-alt
      name: Repositório GitHub da documentação.
      link: https://github.com/transparencia-mg/work-stefanini
  version:
    provider: mike

plugins:
  - git-revision-date-localized:
      enable_creation_date: true 
      type: datetime
      enable_creation_date: true
  - mike:
      version_selector: true
  - search:
      lang: pt