name: Continuos Integration

on: [push]

jobs:
  lint_and_tests:
    runs-on: Ubuntu-20.04
    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.2

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Create venv
        run: make venv

      - name: Install packages
        run: make install

      - name: Run lint
        run: make lint

      - name: Run tests
        run: make tests
        
      - name: Check security
        run: make security

